.root {
    width: 118px;
    padding: 10px 16px 10px 16px;
    background-color: #f7f7f7;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    position: absolute;
    top: calc(100% + 11px);
    left: calc(50% - 59px);
}

.root ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.root li {
    color: #404040;
    font-family: Roboto, serif;
    font-size: 12px;
    line-height: 14px;
    padding: 7.5px 0;
    font-weight: 500;
    text-align: center;
}

.header {
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 500;
    color: #d2d2d2;
    margin-bottom: 10px;
}

.organization {
    width: 100%;
    cursor: pointer;
}

.organization .photo {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-size: 30px;
    margin-right: 10px;
}

.organization .name {
    display: inline-block;
    vertical-align: top;
    font-family: Roboto, serif;
    font-size: 12px;
    font-weight: 300;
    padding-top: 7px;
}

.organization .photo.hce {
    background-image: url('./images/holy-cross-logo.png');
}

.organization .photo.pge {
    background-image: url('./images/pge-logo.png');
}

.organization .photo.svce {
    background-image: url('./images/svce-logo.png');
}

.organization:not(:last-child) {
    margin-bottom: 10px;
}

.border {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    margin: 10px 0px 10px 0px;
}

.signout {
    font-family: Roboto, serif;
    font-size: 12px;
    cursor: pointer;
}