.root {
    position: relative;
    width: 100%;
    height: 72px;
    background-color: #fff;
}

.name {
    display: table-cell;
    vertical-align: middle;
    height: 72px;
    width: 450px;
    padding-left: 25px;
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: 500;
    color: #2A7AB7;
}

.lastUpdated {
    display: table-cell;
    vertical-align: middle;
    height: 72px;
    padding-left: 25px;
    font-family: Roboto, serif;
    font-size: 14px;
    color: #AAAAAA;
}

.button {
    position: absolute;
    top: 18px;
    right: 25px;
    width: 133px;
    height: 36px;
    background-color: #318466;
    border-radius: 2px;
    color: #fff;
    font-family: Roboto, serif;
    font-size: 18px;
    text-align: left;
    padding: 7px 0px 0px 10px;
    cursor: pointer;
    background-image: url('./images/pipeline-status-button-chevron.png');
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 110px 15px;
}
