.root {
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.clickable {
    cursor: pointer;
}

.photoBorder {
    width: 46px;
    height: 46px;
    border-radius: 22px;
    border: 2px solid #404040;
    padding: 1px;
    margin: 0px auto 0px auto;
}

.photo {
    width: 40px;
    height: 40px;
    background-image: url('./images/dchassin-profile.jpeg');
    background-size: 40px;
    border-radius: 20px;
}

.name {
    font-family: Roboto, serif;
    font-size: 18px;
    font-weight: 500;
    color: #404040;
    line-height: 21px;
    margin-top: 10px;
}

.organization {
    font-family: Roboto, serif;
    font-size: 14px;
    color: #404040;
    margin-top: 5px;
}

.manageSettings {
    font-family: Roboto, serif;
    font-size: 12px;
    color: #404040;
    margin-top: 20px;
}

.dropdownArrow {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-size: 20px;
    background-image: url('./images/drop-down-arrow.png');
}

.orgDropdown {
    position: absolute;
    top: 56px;
}