.root {
    padding: 10px 0px 0px 0px;
}

.menuItem {
    width: 240px;
    height: 47px;
    padding-top: 13px;
    padding-left: 16px;    
    color: #404040;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    border-radius: 2px;
    cursor: pointer;
}

.menuItem:hover {
    background-color: #d2d2d2;
}

.menuItem.selected {
    background-color: #404040;
    color: #fff;
    cursor: default;
}