html {
  box-sizing: border-box;
  background-color: #f7f7f7;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: Roboto, serif;
    color: #404040;
    background-color: #f7f7f7;
}
a {
    color: #404040;
}
[ant-click-animating-without-extra-node]:after {
    animation: none;
}
.ant-space {
    width: 100%;
}
.ant-dropdown-menu {
    display: inline-block;
    min-width: 142px;
}